/* --- Layout ---  */
.container {
    max-width: 1000px;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin-top: 50px;
    position: relative;
    background-color: #C5C1C0;
    color: #575757;
}

.site-content {
    min-height: calc(100vh - 93px);
   
}

.jumbo-style {
    margin-top: -30px;
    padding-left: 1.4em;
    padding-right: 1.4em;   
    padding-bottom: 17px;
    background-color: #1A2930;
    color: #E3E3E3;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    width:  
}

.navbar-header {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-inverse .navbar-nav>.active> a,
.navbar-inverse .navbar-nav>.active> a:focus,
.navbar-inverse .navbar-nav>.active> a:hover {
  background: #737373;
  transition: all ease 0.8s;
}

footer {
    background-color: #0A1612;
    color: white;
    padding-left: .75em;
    padding-right: .75em;
    width: 100%;
}

footer p {
    color:#E3E3E3;
    padding-top: 0;
    padding-bottom: .3em;
}  

.contact-page {
    max-width: 75%;
}
.fa {
    font-size: 2em;
    width: .9em;
    text-align: center;
    text-decoration: none;
    margin: .5em .1em;
    color: #E3E3E3;
}
  
.fa-envelope {
    margin: .25em;
}

.fa-twitter {
    margin-right: 1em;;
}
  
.fa:hover {
    color: #f7b733;
    transition: all ease 0.3s;
}
  
.contact-table td {
    padding-left: 1em;
}

.contact-table th,
.contact-page td {
    padding-top: .5em;
    padding-bottom: .5em;
}

.img-shadow {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}

