#blog-entries-list {
    font-size: .85em;
}

.blog-subheading, .blog-tags {
    color: rgb(136, 136, 136);
    font-size: .9em;
}

.special-text {
    font-size: .9em;
    font-style: italic;
    margin-left: .5em;
}

.abridged {
    height: 9em;
    overflow: hidden;
    margin-bottom: .3em;
}

.expandContentBtn {
    background-color: rgba(223, 223, 223, 0.623);
    color: gray;
    border-radius: 4px;
    border: none;
    padding-bottom: 0;
    font-size: .9em;
}

#blog-header {
    margin-bottom: .9em;
}

#blog-search {
    padding: 0 0 1em 1.1em;
}

.blog-search__input {
    background-color: rgb(235, 235, 235);
    width: 72%;
}